.pagina {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.pagina .overlap-wrapper {
  background-color: #ffffff;
  width: 1440px;
  height: 2026px;
}

.pagina .overlap {
  position: relative;
  height: 2026px;
}

.pagina .fondo {
  width: 1440px;
  height: 1964px;
  top: 0;
  background-color: #e9e9e9;
  position: absolute;
  left: 0;
}

.pagina .pie {
  position: absolute;
  width: 1440px;
  height: 112px;
  top: 1914px;
  left: 0;
  background-color: #ffffff;
}

.pagina .text-wrapper {
  position: absolute;
  width: 371px;
  top: 34px;
  left: 113px;
  font-family: "Josefin Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.pagina .div {
  position: absolute;
  width: 80px;
  top: 42px;
  left: 1305px;
  font-family: "Kodchasan-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .text-wrapper-2 {
  position: absolute;
  width: 112px;
  top: 42px;
  left: 1155px;
  font-family: "Kodchasan-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .text-wrapper-3 {
  position: absolute;
  width: 234px;
  top: 42px;
  left: 897px;
  font-family: "Kodchasan-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

/*IMAGENES*/
.pagina .logo {
  position: absolute;
  width: 71px;
  height: 51px;
  top: 23px;
  left: 125px;
}
.pagina .logo2 {
  position: absolute;
  width: 71px;
  height: 51px;
  top: 23px;
  left: 25px;
}
.pagina .img1 {
  position: absolute;
  width: 392px;
  height: 265px;
  top: 16px;
  left: 16px;
  object-fit: cover;
}
.pagina .img2 {
  position: absolute;
  width: 398px;
  height: 209px;
  top: 44px;
  left: 11px;
  object-fit: cover;
}
.pagina .img3 {
  position: absolute;
  width: 420px;
  height: 230px;
  top: 0;
  left: 0;
}
.pagina .img4 {
  position: absolute;
  width: 257px;
  height: 279px;
  top: 0;
  left: 84px;
  object-fit: cover;
}
.pagina .img5 {
  position: absolute;
  width: 168px;
  height: 268px;
  top: 4px;
  left: 115px;
}
.pagina .img6 {
  position: absolute;
  width: 273px;
  height: 281px;
  top: 0;
  left: 68px;
}
.pagina .img7 {
  position: absolute;
  width: 402px;
  height: 257px;
  top: 0;
  left: 11px;
}
.pagina .img8 {
  position: absolute;
  width: 405px;
  height: 257px;
  top: 0;
  left: 11px;
}
.pagina .img9{
  position: absolute;
  width: 407px;
  height: 250px;
  top: 0;
  left: 0;
}

/*BOTON*/
text-wrapper-7 {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #03be8f;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #00868950;
  transform: scale(1.1);
}

button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

/*AUTOS*/
.pagina .categoria-autos {
  top: 228px;
  position: absolute;
  width: 1339px;
  height: 471px;
  left: 50px;
}

.pagina .div-2 {
  position: absolute;
  width: 419px;
  height: 373px;
  top: 98px;
  left: 920px;
  background-color: #ffffff;
  border-radius: 27px;
}

.pagina .div-3 {
  position: absolute;
  width: 419px;
  height: 274px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  border-radius: 1px;
}

.pagina .text-wrapper-4 {
  position: absolute;
  top: 280px;
  left: 16px;
  font-family: "Be Vietnam-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .text-wrapper-5 {
  top: 318px;
  position: absolute;
  left: 17px;
  font-family: "Be Vietnam-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .text-wrapper-6 {
  position: absolute;
  top: 282px;
  left: 281px;
  font-family: "Be Vietnam-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .component {
  top: 316px;
  left: 271px;
  position: absolute;
  width: 131px;
  height: 38px;
  background-color: #00a1b7;
  border-radius: 22px;
}

.pagina .btnG {
  position: absolute;
  top: 1px;
  left: 23px;
  font-family: "Be Vietnam-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .div-4 {
  position: absolute;
  width: 419px;
  height: 373px;
  top: 98px;
  left: 460px;
  background-color: #ffffff;
  border-radius: 27px;
}

.pagina .div-wrapper {
  top: 317px;
  left: 270px;
  position: absolute;
  width: 131px;
  height: 38px;
  background-color: #00a1b7;
  border-radius: 22px;
}

.pagina .text-wrapper-8 {
  position: absolute;
  top: 282px;
  left: 286px;
  font-family: "Be Vietnam-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .div-5 {
  position: absolute;
  width: 419px;
  height: 373px;
  top: 98px;
  left: 0;
  background-color: #ffffff;
  border-radius: 27px;
}

.pagina .overlap-group {
  position: relative;
  height: 355px;
}

.pagina .overlap-2 {
  position: absolute;
  width: 419px;
  height: 355px;
  top: 0;
  left: 0;
}

.pagina .overlap-3 {
  position: absolute;
  width: 419px;
  height: 318px;
  top: 0;
  left: 0;
}

.pagina .text-wrapper-9 {
  position: absolute;
  top: 281px;
  left: 286px;
  font-family: "Be Vietnam-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .container {
  position: absolute;
  width: 131px;
  height: 38px;
  top: 317px;
  left: 271px;
  background-color: #00a1b7;
  border-radius: 22px;
}

.pagina .text-wrapper-10 {
  top: -1px;
  left: 0;
  font-family: "Kodchasan-Bold", Helvetica;
  font-weight: 700;
  font-size: 40px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

/*MOTOS*/
.pagina .categoria-motos {
  top: 772px;
  position: absolute;
  width: 1339px;
  height: 471px;
  left: 50px;
}

.pagina .starker {
  position: absolute;
  width: 419px;
  height: 378px;
  top: 93px;
  left: 920px;
}

.pagina .overlap-group-2 {
  position: relative;
  height: 378px;
}

.pagina .rectangle-2 {
  width: 419px;
  height: 373px;
  top: 5px;
  background-color: #ffffff;
  border-radius: 27px;
  position: absolute;
  left: 0;
}

.pagina .rectangle-3 {
  top: 5px;
  position: absolute;
  width: 419px;
  height: 274px;
  left: 0;
  background-color: #d9d9d9;
  border-radius: 1px;
}

.pagina .text-wrapper-11 {
  position: absolute;
  top: 285px;
  left: 16px;
  font-family: "Be Vietnam-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .text-wrapper-12 {
  top: 323px;
  position: absolute;
  left: 17px;
  font-family: "Be Vietnam-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .text-wrapper-13 {
  position: absolute;
  top: 285px;
  left: 287px;
  font-family: "Be Vietnam-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .component-3 {
  top: 324px;
  left: 271px;
  position: absolute;
  width: 131px;
  height: 38px;
  background-color: #00a1b7;
  border-radius: 22px;
}

.pagina .urban {
  position: absolute;
  width: 419px;
  height: 376px;
  top: 95px;
  left: 0;
}

.pagina .overlap-4 {
  position: relative;
  height: 376px;
}

.pagina .rectangle-4 {
  position: absolute;
  width: 419px;
  height: 373px;
  top: 3px;
  left: 0;
  background-color: #ffffff;
  border-radius: 27px;
}

.pagina .rectangle-5 {
  top: 3px;
  position: absolute;
  width: 419px;
  height: 274px;
  left: 0;
  background-color: #d9d9d9;
  border-radius: 1px;
}

.pagina .text-wrapper-14 {
  position: absolute;
  top: 283px;
  left: 16px;
  font-family: "Be Vietnam-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .text-wrapper-15 {
  top: 321px;
  position: absolute;
  left: 17px;
  font-family: "Be Vietnam-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .text-wrapper-16 {
  position: absolute;
  top: 284px;
  left: 286px;
  font-family: "Be Vietnam-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .component-4 {
  top: 321px;
  left: 274px;
  position: absolute;
  width: 131px;
  height: 38px;
  background-color: #00a1b7;
  border-radius: 22px;
}

/*CAMIONETAS*/
.pagina .categoria-camionetas {
  top: 1338px;
  position: absolute;
  width: 1339px;
  height: 471px;
  left: 50px;
}

.pagina .text-wrapper-17 {
  position: absolute;
  top: 280px;
  left: 283px;
  font-family: "Be Vietnam-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .component-5 {
  top: 315px;
  left: 267px;
  position: absolute;
  width: 131px;
  height: 38px;
  background-color: #00a1b7;
  border-radius: 22px;
}

.pagina .nissan-c {
  position: absolute;
  width: 460px;
  height: 373px;
  top: 98px;
  left: 437px;
}

.pagina .overlap-5 {
  position: relative;
  width: 419px;
  height: 373px;
  left: 23px;
  background-color: #ffffff;
  border-radius: 27px;
}

.pagina .overlap-group-3 {
  position: absolute;
  width: 419px;
  height: 274px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  border-radius: 1px;
  background-image: url(./img/image-8.png);
  background-size: 100% 100%;
}

.pagina .text-wrapper-18 {
  position: absolute;
  top: 281px;
  left: 287px;
  font-family: "Be Vietnam-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .component-6 {
  top: 316px;
  left: 269px;
  position: absolute;
  width: 131px;
  height: 38px;
  background-color: #00a1b7;
  border-radius: 22px;
}

.pagina .menu {
  position: absolute;
  width: 1440px;
  height: 182px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.pagina .overlap-6 {
  position: absolute;
  width: 181px;
  height: 78px;
  top: 39px;
  left: 20px;
}

.pagina .text-wrapper-19 {
  position: absolute;
  width: 133px;
  top: 0;
  left: 0;
  font-family: "Josefin Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .lightning-bolt-2 {
  position: absolute;
  width: 62px;
  height: 53px;
  top: 25px;
  left: 119px;
}

.pagina .text-wrapper-20 {
  top: 50px;
  left: 522px;
  font-family: "Kodchasan-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .text-wrapper-21 {
  top: 50px;
  left: 620px;
  font-family: "Kodchasan-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .text-wrapper-22 {
  top: 50px;
  left: 723px;
  font-family: "Kodchasan-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.pagina .text-wrapper-23 {
  position: absolute;
  top: 50px;
  left: 859px;
  font-family: "Kodchasan-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}
